venv/
adoptme/db.sqlite3
adoptme/adoptme/__pycache__
adoptme/userprofile/__pycache__
adoptme/userprofile/migrations
TODO.txt
adoptme/media
adoptme/shelter/__pycache__
adoptme/shelter/migrations
adoptme/petadvert/__pycache__
adoptme/petadvert/migrations