{% extends 'userprofile/common/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row" style="margin-bottom: 40px; margin-top: 40px;">
            <div class="col-8 mx-auto">
                <div class="card rounded-4 shadow border-light">
                    <div class="col-10 mt-5 mb-5 mx-auto">
                        <div class="text-center mb-4">
                            <h1>Edit Pet Advertisment</h1>
                        </div>
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-6">
                                    {{form.name|as_crispy_field}}
                                </div>
                                <div class="col-6">
                                    {{form.photo|as_crispy_field}}
                                </div>
                                <div class="col-6">
                                    {{form.color|as_crispy_field}}
                                </div>
                                <div class="col-6">
                                    {{form.health|as_crispy_field}}
                                </div>
                                <div class="col-4">
                                    {{form.gender|as_crispy_field}}
                                </div>
                                <div class="col-4">
                                    {{form.type|as_crispy_field}}
                                </div>
                                <div class="col-4">
                                    {{form.size|as_crispy_field}}
                                </div>
                                <div class="col-4">
                                    {{form.age|as_crispy_field}}
                                </div>
                                <div class="col-4">
                                    {{form.breed|as_crispy_field}}
                                </div>
                                <div class="col-4">
                                    {{form.city|as_crispy_field}}
                                </div>
                                <div class="col-12">
                                    {{form.about|as_crispy_field}}
                                </div>
                                <div class="col">
                                    {{form.house_trained|as_crispy_field}}
                                </div>
                            </div>
                            <button type="submit" class="shadow btn btn-success" style="width: 100%;">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}