{% extends 'userprofile/common/base.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="row mx-auto text-center position-relative" style="background-image: url('../../static/userprofile/images/image3.JPG'); height: 370px; background-repeat: no-repeat; background-size: contain;">
            <div class="position-absolute top-50 start-50 translate-middle">
                <p style="color: white; font-size: 80px;">Find your new best friend</p>
                <p style="color: white; font-size: 30px;">Browse pets from our network of lots of shelters, rescues and pet owners</p>
                <div class="col-4 mx-auto">
                    <div class="dropdown">
                        <button class="btn w-75" style="color: rgb(143, 143, 143); background-color: white; height: 55px" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <div class="text-start mt-2">
                                <h6>Meet them</h6>
                            </div>
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="{% url 'petad:filter_petad' 'CAT' %}">Cats</a></li>
                          <li><a class="dropdown-item" href="{% url 'petad:filter_petad' 'DOG' %}">Dogs</a></li>
                          <li><a class="dropdown-item" href="{% url 'petad:filter_petad' 'HRS' %}">Horses</a></li>
                          <li><a class="dropdown-item" href="{% url 'petad:filter_petad' 'BRD' %}">Birds</a></li>
                          <li><a class="dropdown-item" href="{% url 'petad:filter_petad' 'EXC' %}">Exotic</a></li>
                        </ul>
                        <button class="btn shadow-lg" style="background-color: rgb(255, 149, 10); color: white; height: 55px; width: 55px;" type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
    </div>
    <div class="row text-center shadow mb-5" style="height: 40px; background-color: rgb(255, 149, 10); color: white;"></div>
<div class="container mt-5 mb-3">
    <div class="row">
        <div class="col-6 mx-auto">
            <div class="row mb-4">
                <div class="col-3">
                    <div class="card rounded-4 border-0 shadow text-center" style="width: 200px; height: 200px;">
                        <img src="{% static 'userprofile/images/dog_logo3.png' %}" style="width: 150px; height: 150px; margin-left: auto; margin-right: auto;">
                        <div class="card-body" style="color: rgb(58, 58, 58);">
                            <h6><a href="{% url 'petad:filter_petad' 'DOG' %}" class="link-dark link-underline-opacity-100-hover link-underline-opacity-0 stretched-link">Dogs</a></h6>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card rounded-4 border-0 shadow text-center" style="width: 200px; height: 200px;">
                        <img src="{% static 'userprofile/images/cat_logo.png' %}" style="width: 150px; height: 150px; margin-left: auto; margin-right: auto;">
                        <div class="card-body" style="color: rgb(58, 58, 58);">
                            <h6><a href="{% url 'petad:filter_petad' 'CAT' %}" class="link-dark link-underline-opacity-100-hover link-underline-opacity-0 stretched-link">Cats</a></h6>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card rounded-4 border-0 shadow text-center" style="width: 200px; height: 200px;">
                        <img class="mt-3" src="{% static 'userprofile/images/raw.png' %}" style="width: 130px; height: 130px; margin-left: auto; margin-right: auto;">
                        <div class="card-body" style="color: rgb(58, 58, 58);">
                            <h6><a href="{% url 'petad:filter_petad' 'EXC' %}" class="link-dark link-underline-opacity-100-hover link-underline-opacity-0 stretched-link">Other animals</a></h6>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card rounded-4 border-0 shadow text-center" style="width: 200px; height: 200px;">
                        <img class="mt-3" src="{% static 'userprofile/images/shel2.PNG' %}" style="width: 130px; height: 130px; margin-left: auto; margin-right: auto;">
                        <div class="card-body" style="color: rgb(58, 58, 58);">
                            <h6><a href="" class="link-dark link-underline-opacity-100-hover link-underline-opacity-0 stretched-link">Shelters</a></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>       
    </div>
    <div class="row mt-5 mb-5 text-center">
        <h1 style="color: rgb(255, 156, 27);">Pets Available for Adoption</h1>
    </div>
    <div class="row mt-5 mb-5">
        <div class="col-7 mx-auto">
            <div class="row">
                {% for pet in 3pets %}
                <div class="col-3">
                    <div class="card rounded-4 border-0 shadow text-center">
                        <!-- class="card-img-top d-block w-100" style="height: 320px; object-fit:contain;"-->
                        <!-- style="max-width: 100%; height: 17vw; display: flex; justify-content: center; align-items: flex-start;" -->
                        <div>
                            <img src="{{pet.photo.url}}" class="card-img-top rounded-4" style="max-width: 100%; height: 14vw; display: flex; justify-content: center; align-items: flex-start;" alt="...">
                        </div>
                        <div class="card-body">
                          <p class="card-text"><a href="{% url 'petad:petad_detail' pet.id %}" class="stretched-link link-warning link-underline-opacity-0 link-underline-opacity-100-hover">{{pet.name}}</a></p>
                        </div>
                    </div>
                </div>
                {% endfor %}
                
                {% if more_than_3 %}
                <div class="col-3">
                    <div class="card rounded-4 shadow border-0 text-bg-warning mb-3">
                        <div class="card-body text-center" style="color: white">
                          <div class="mt-4 mb-4">
                            <img src="{% static 'userprofile/images/white_paw.png' %}" style="width: 60%;" alt=""><br>   
                          </div>
                          <div>                           
                            Lots of pets available on AdoptMe
                          </div>                     
                        </div> 
                        <div class="card-footer text-center" style="color: white;" >
                            <div class="dropdown">
                                <button class="btn stretched-link link-underline-opacity-100-hover link-underline-opacity-0" style="color: white;" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                  <h4>Meet them</h4>
                                </button>
                                <ul class="dropdown-menu">
                                  <li><a class="dropdown-item" href="{% url 'petad:filter_petad' 'CAT' %}">Cats</a></li>
                                  <li><a class="dropdown-item" href="{% url 'petad:filter_petad' 'DOG' %}">Dogs</a></li>
                                  <li><a class="dropdown-item" href="{% url 'petad:filter_petad' 'HRS' %}">Horses</a></li>
                                  <li><a class="dropdown-item" href="{% url 'petad:filter_petad' 'BRD' %}">Birds</a></li>
                                  <li><a class="dropdown-item" href="{% url 'petad:filter_petad' 'EXC' %}">Exotic</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="container mt-5 shadow" style="background-color: white;">
    <div class="row mb-5">
        <div class="col-7 mx-auto">
            <div class="row mt-5">
                <div class="text-center" style="color:rgb(78, 78, 78)">
                    <h1>Planning to Adopt a Pet?</h1>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-4 text-center">
                    <h5 style="color: orange;">Checklist for New Adopters</h5>
                    <p>
                        Help make the transition, as smooth as possible.
                    </p>
                    <a href="https://www.petfinder.com/adopt-or-get-involved/adopting-pets/how-to/adoption-checklist/" class="btn btn-outline-warning mt-5">LEARN MORE</a>
                </div>
                <div class="col-4 text-center mt-3">
                    <h5 style="color: orange;">COVID-19 Resources</h5>
                    <p>
                        Get the latest on adoption processes, learn how local shelters and rescue groups are adapting and find out what you can do to help dogs and cats in need right now.
                    </p>
                    <a href="https://www.petfinder.com/adopt-or-get-involved/adopting-pets/how-to/adopt-a-pet-during-covid-19/" class="btn btn-outline-warning mt-5">LEARN MORE</a>
                </div>
                <div class="col-4 text-center">
                    <h5 style="color: orange;">Pet Adoption FAQs</h5>
                    <p>
                        Get answers to questions you haven't thought of.
                    </p>
                    <a href="https://www.petfinder.com/adopt-or-get-involved/adopting-pets/how-to/pet-adoption-faqs/" class="btn btn-outline-warning mt-5">LEARN MORE</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

