{% extends 'userprofile/common/base.html' %}
{% load static %}
{% load paginate_tags %}
{% load utils_tags %}

{% block title %} Profile {% endblock %}

{% block content %}
<div class="container text-center" style="margin-top: 40px; margin-bottom: 40px;">
    <div class="row">

        <div class="col-4 text-start">
            <div class="card rounded-4 shadow border-light" style="margin-right: 40px;">
                <div class="text-center mt-5">
                    {% if not userprofile.profile_pic %}
                    <p><img src="{% static 'userprofile/images/profile1.png' %}" alt="My image" style="width:70%"></p>
                    {% else %}
                    <p><img class="shadow rounded-4" src="{{ userprofile.profile_pic.url }}" class="rounded" alt="My image" style="width:70%"></p>
                    {% endif %}
                </div>
                <div class="col-9 text-start mx-auto" style="color: rgb(70, 65, 65);">
                    <h1>{{userprofile.user.username}}</h1> 
                    <h5>{{userprofile.get_sex_display}}</h5>
                    {% if userprofile.about %}
                        <p>{{ userprofile.about }}</p>
                    {% else %}
                        No bio
                    {% endif %}
                </div>
                <div class="text-center mt-4 mb-5">
                    {% if userprofile.user == request.user %}
                        <a class="btn shadow" href="{% url 'profile:edit_profile'%}" style="width: 75%; background-color: rgb(238, 155, 60); color: white;">Edit your profile</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col text-start">
            <nav class="navbar shadow rounded-4 navbar-expand-lg" style="margin-bottom: 20px; background-color: white;">
                  <span class="navbar-brand mb-0 h1 ms-4" style="margin-left: 10px; color: rgb(70, 65, 65);">Ads:</span>
                  <ul class="nav navbar-nav ms-auto d-flex me-4 align-items-center">
                    <li class="nav-item dropdown" style="padding: 0 10px 0 10px;">
                        {% get_GET_value request 'ordering_type' as ordering %}
                        <a class="btn dropdown-toggle shadow" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: rgb(238, 155, 60); color: white;">Type</a>
                        <ul class="dropdown-menu">
                            <li>
                                <form method="GET">
                                    {% if ordering %}
                                    <input type="hidden" id="ordering_type" name="ordering_type" value="{{ordering}}"/>
                                    {% endif %}                                    
                                    <input type="hidden" id="ad_type" name="ad_type" value="All"/>
                                    <button type='submit' class="btn btn-dark dropdown-item">All</button>
                                </form>
                            </li>
                            <li>
                                <form method="GET">
                                    {% if ordering %}
                                    <input type="hidden" id="ordering_type" name="ordering_type" value="{{ordering}}"/>
                                    {% endif %}                                    
                                    <input type="hidden" id="ad_type" name="ad_type" value="SIT"/>
                                    <button type='submit' class="btn btn-dark dropdown-item">Sitter Ad</button>
                                </form>
                            </li>
                            <li>
                                <form method="GET">
                                    {% if ordering %}
                                    <input type="hidden" id="ordering_type" name="ordering_type" value="{{ordering}}"/>
                                    {% endif %}  
                                    <input type="hidden" id="ad_type" name="ad_type" value="PET" />
                                    <button type='submit' class="btn btn-dark dropdown-item">Pet Ad</button>
                                </form>
                            </li>
                          </ul>
                    </li>
                    <li class="nav-item dropdown" style="padding: 0 10px 0 10px;">
                        <a class="btn btn-dark dropdown-toggle shadow" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Filter</a>
                        {% get_GET_value request 'ad_type' as ad_type %}
                        <ul class="dropdown-menu">
                            <li>
                                <form method="GET">
                                    {% if ad_type %}
                                    <input type="hidden" id="ad_type" name="ad_type" value="{{ad_type}}"/>
                                    {% endif %}
                                    <input type="hidden" id="ordering_type" name="ordering_type" value="time_update" />
                                    <button type='submit' class="btn btn-dark dropdown-item">Date Created +</button>
                                </form>
                            </li>
                            <li>
                                <form method="GET">
                                    {% if ad_type %}
                                    <input type="hidden" id="ad_type" name="ad_type" value="{{ad_type}}"/>
                                    {% endif %}
                                    <input type="hidden" id="ordering_type" name="ordering_type" value="-time_update" />
                                    <button type='submit' class="btn btn-dark dropdown-item">Data Created -</button>
                                </form>
                            </li>
                            <li>
                                <form method="GET">
                                    {% if ad_type %}
                                    <input type="hidden" id="ad_type" name="ad_type" value="{{ad_type}}"/>
                                    {% endif %}
                                    <input type="hidden" id="ordering_type" name="ordering_type" value="name" />
                                    <button type='submit' class="btn btn-dark dropdown-item">Name +</button>
                                </form>
                            </li>
                            <li>
                                <form method="GET">
                                    {% if ad_type %}
                                    <input type="hidden" id="ad_type" name="ad_type" value="{{ad_type}}"/>
                                    {% endif %}
                                    <input type="hidden" id="ordering_type" name="ordering_type" value="-name" />
                                    <button type='submit' class="btn btn-dark dropdown-item">Name -</button>
                                </form>
                            </li>
                          </ul>
                    </li>
                    {% if userprofile.user == request.user %}
                    <li class="nav-item dropdown" style="padding: 0 10px 0 10px;">
                        <a class="btn dropdown-toggle shadow" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: rgb(69, 167, 77); color: white;">Create</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'petad:create_sitterad' %}">Sitter Ad</a></li>
                            <li><a class="dropdown-item" href="{% url 'petad:create_petad' %}">Pet Ad</a></li>
                          </ul>
                    </li>
                    {% endif %}
                </ul>
              </nav>
              {% for ad in petads %}
              {% if ad.ad_type == ad.AdvertType.PET %}
              <div class="card rounded-4 border-light shadow" style="margin-bottom: 20px;">
                <div class="row" style="margin-top: 20px; margin-bottom: 20px; margin-right: 20px; color: rgb(70, 65, 65);">
                    <div class="col-4 text-center">
                        <img class="rounded shadow" src="{{ad.photo.url}}" alt="PetAdvert" style="width: 70%;">
                    </div>
                    <div class="col-6 text-start">
                        <div class="row">
                            <div class="col-7">
                                <a href="{% url 'petad:petad_detail' ad.pk %}" class="link-warning link-underline-opacity-25" style="color: rgb(223, 126, 15);"><h1>{{ad.name}}</h1></a>
                            </div>
                            <div class="col-5 position-relative text-end">
                                <div class="position-absolute top-50 start-0 translate-middle-y" style="color: rgb(163, 163, 163);">
                                    <small>{{ad.time_update|timesince}} ago</small>
                                </div>
                            </div>
                        </div>
                        <p>{{ad.about|linebreaks|truncatechars:210}}</p>
                    </div>
                    <div class="col-2 d-flex align-items-center">
                        <span class="align-middle">
                            <a href="{% url 'petad:petad_detail' ad.pk %}" class="btn shadow" style="width: 100%; margin-bottom: 10px; background-color: rgb(238, 155, 60); color: white;">More info</a>
                            {% if ad.owner == request.user.profile %}
                            <a href="{% url 'petad:petad_update' ad.pk %}" class="btn shadow-sm btn-outline-success" style="width: 100%; margin-bottom: 10px;">Edit</a>
                            <form method="POST" action="{% url 'petad:petad_delete' ad.pk %}">
                                {% csrf_token %}
                                <button type="submit" class="btn shadow-sm btn-outline-danger" style="width: 100%; margin-bottom: 10px;">Delete</button>
                             </form>
                            {% endif %}
                        </span>
                    </div>
                </div>
              </div>
              {% else %}
              <div class="card rounded-4 border-light shadow" style="margin-bottom: 20px;">
                <div class="row" style="margin-top: 20px; margin-bottom: 20px; margin-right: 20px; margin-left: 20px; color: rgb(70, 65, 65);">
                    <div class="col-10 text-start">
                        <div class="ms-2 row">
                            <div class="col-5">
                                <h1 style="color: rgb(238, 155, 60);">Sitter Advert</h1>
                            </div>
                            <div class="col-7 text-end">
                                <div style="color: rgb(163, 163, 163);">
                                    <small>{{ad.time_update|timesince}} ago</small>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <p>Salary: ${{ad.salary}}</p>
                                <p>City: {{ad.city}}</p>
                                <p>Experience: {{ad.experience}} years</p>
                            </div>
                            <div class="col-9">
                                <h7>Content:</h7>
                                <p>{{ad.content|truncatechars:210}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-2 d-flex align-items-center">
                        <span class="align-middle">
                            <button type="button" class="btn shadow" style="width: 100%; margin-bottom: 10px; background-color: rgb(238, 155, 60); color: white;" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                More info
                            </button>
                            <a href="#" class="btn shadow" style="width: 100%; margin-bottom: 10px; background-color: rgb(238, 155, 60); color: white;" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">Contact</a>
                            {% if ad.owner == request.user.profile %}
                            <a href="{% url 'petad:sitterad_update' ad.pk %}" class="btn shadow-sm btn-outline-success" style="width: 100%; margin-bottom: 10px;">Edit</a>
                            <form method="POST" action="{% url 'petad:petad_delete' ad.pk %}">
                                {% csrf_token %}
                                <button type="submit" class="btn shadow-sm btn-outline-danger" style="width: 100%; margin-bottom: 10px;">Delete</button>
                             </form>
                            {% endif %}
                        </span>
                    </div>
                </div>
              </div>
              <!-- modal -->
              <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Contact</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                        <div class="modal-body">
                            <div class="row mx-auto mt-4 mb-3" style="width: 60%;">
                                <button class="btn" style="background-color: rgb(238, 155, 60); color: white;" data-bs-toggle="modal" data-bs-target="#staticBackdrop3">Contact via Mail</button>
                            </div>
                            <div class="row mx-auto mb-4" style="width: 60%">
                                <button class="btn btn-primary" disabled>Contact via Messages</button>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="mx-auto">
                                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal" style="width: 100%;">Close</button>
                            </div>
                        </div>
                </div>
                </div>
            </div>

            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Information</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                        <div class="modal-body">
                            <p>Salary: ${{ad.salary}}</p>
                            <p>City: {{ad.city}}</p>
                            <p>Experience: {{ad.experience}} years</p>
                            <p>Content: {{ad.content}}</p>

                        </div>
                        <div class="modal-footer">
                            <div class="mx-auto">
                                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">Contact</button>
                            </div>
                        </div>
                </div>
                </div>
            </div>

            <div class="modal fade" id="staticBackdrop3" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Contact</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form method="post">
                    <div class="modal-body">
                          {% csrf_token %}
                          <input type="hidden" id="ad_id" name="ad_id" value="{{ad.id}}"/>
                          <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Your email:</label>
                            <input type="text" name="reciever" class="form-control" id="recipient-name">
                          </div>
                          <div class="mb-3">
                            <label for="message-text" class="col-form-label">Message:</label>
                            <textarea name="content" class="form-control" id="message-text"></textarea>
                          </div>
                      </div>
                      <div class="modal-footer">
                        <div class="mx-auto">
                            <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn" style="background-color: rgb(238, 155, 60); color: white;">Send message</button>
                        </div>
                      </div>
                    </form>
                </div>
                </div>
            </div>
            <!-- endmodal-->
              {% endif %}
              {% endfor %}
              {% get_GET_value request 'ordering_type' as ordering_type %}
              {% get_GET_value request 'ad_type' as advert_type %}
              <div class="row mt-5">
                <div class="col-10 mx-auto text-center">
                    {% if page_obj.has_previous %}
                        <a class="btn" style="background-color: rgb(238, 155, 60); color: white;" href="{% url 'profile:profile' profile_slug=userprofile.slug %}?page={{page_obj.previous_page_number}}{% if ordering_type %}&ordering_type={{ordering_type}}{% endif %}{% if advert_type %}&ad_type={{advert_type}}{% endif %}">
                            Previous Page
                        </a>
                    {% endif%}
                    {% get_proper_elided_page_range paginator page_obj.number as page_range %}
                    {% for page_number in page_range %}
                        {% if page_number == page_obj.paginator.ELLIPSIS %}
                            {{page_number}}
                        {% else %}
                            <a class="btn" style="background-color: rgb(238, 155, 60); color: white;" href="{% url 'profile:profile' profile_slug=userprofile.slug %}?page={{page_number}}{% if ordering_type %}&ordering_type={{ordering_type}}{% endif %}{% if advert_type %}&ad_type={{advert_type}}{% endif %}" class="{% if page_number == page_obj.number %}current{% endif %}">{{page_number}}</a>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <a class="btn" style="background-color: rgb(238, 155, 60); color: white;" href="{% url 'profile:profile' profile_slug=userprofile.slug %}?page={{page_obj.next_page_number}}{% if ordering_type %}&ordering_type={{ordering_type}}{% endif %}{% if advert_type %}&ad_type={{advert_type}}{% endif %}">
                            Next Page
                        </a>
                    {% endif%}
                </div>
              </div>
        </div>
    </div>
</div>
{% endblock %}