{% extends 'userprofile/common/base.html' %}
{% load static %}

{% block content %}
<div class="container text-center" style="margin-top: 40px;">
    <div class="row">

        <div class="col-4 text-start">
            <div class="card rounded-4 shadow border-light" style="margin-right: 40px;">
                <div class="text-center mt-5">
                    {% if not userprofile.profile_pic %}
                    <p><img src="{% static 'userprofile/images/profile1.png' %}" alt="My image" style="width:70%"></p>
                    {% else %}
                    <p><img class="shadow rounded-4" src="{{ userprofile.profile_pic.url }}" class="rounded" alt="My image" style="width:70%"></p>
                    {% endif %}
                </div>
                <div class="col-9 text-start mx-auto" style="color: rgb(70, 65, 65);">
                    <h1>{{userprofile.user.username}}</h1> 
                    <h5>{{userprofile.get_sex_display}}</h5>
                    {% if userprofile.about %}
                        <p>{{ userprofile.about }}</p>
                    {% else %}
                        No bio
                    {% endif %}
                </div>
                <div class="text-center mt-4 mb-5">
                    {% if userprofile.user == request.user %}
                        <a class="btn shadow" href="{% url 'profile:edit_profile'%}" style="width: 75%; background-color: rgb(238, 155, 60); color: white;">Edit your profile</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col text-start">
            <nav class="navbar shadow rounded-4 navbar-expand-lg" style="margin-bottom: 20px; background-color: white;">
                  <span class="navbar-brand mb-0 h1 ms-4" style="margin-left: 10px; color: rgb(70, 65, 65);">Ads:</span>
                  <ul class="nav navbar-nav ms-auto d-flex me-4 align-items-center">
                    <li class="nav-item dropdown" style="padding: 0 10px 0 10px;">
                        <a class="btn dropdown-toggle shadow" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: rgb(238, 155, 60); color: white;">Type</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'profile:profile' request.user.profile.slug %}">Sitter Ad</a></li>
                            <li><a class="dropdown-item" href="{% url 'petad:create_petad' %}">Pet Ad</a></li>
                          </ul>
                    </li>
                    <li class="nav-item dropdown" style="padding: 0 10px 0 10px;">
                        <a class="btn btn-dark dropdown-toggle shadow" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Filter</a>
                        <ul class="dropdown-menu">
                            <li>
                                <form method="GET">
                                    <input type="hidden" id="ordering_type" name="ordering_type" value="time_create" />
                                    <button type='submit' class="btn btn-dark dropdown-item">Date Created +</button>
                                </form>
                            </li>
                            <li>
                                <form method="GET">
                                    <input type="hidden" id="ordering_type" name="ordering_type" value="-time_create" />
                                    <button type='submit' class="btn btn-dark dropdown-item">Data Created -</button>
                                </form>
                            </li>
                            <li>
                                <form method="GET">
                                    <input type="hidden" id="ordering_type" name="ordering_type" value="name" />
                                    <button type='submit' class="btn btn-dark dropdown-item">Name +</button>
                                </form>
                            </li>
                            <li>
                                <form method="GET">
                                    <input type="hidden" id="ordering_type" name="ordering_type" value="-name" />
                                    <button type='submit' class="btn btn-dark dropdown-item">Name -</button>
                                </form>
                            </li>
                          </ul>
                    </li>
                    {% if userprofile.user == request.user %}
                    <li class="nav-item dropdown" style="padding: 0 10px 0 10px;">
                        <a class="btn dropdown-toggle shadow" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: rgb(69, 167, 77); color: white;">Create</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'profile:profile' request.user.profile.slug %}">Sitter Ad</a></li>
                            <li><a class="dropdown-item" href="{% url 'petad:create_petad' %}">Pet Ad</a></li>
                          </ul>
                    </li>
                    {% endif %}
                </ul>
              </nav>
              {% for ad in petads %}
              <div class="card border-light shadow" style="margin-bottom: 20px;">
                <div class="row" style="margin-top: 20px; margin-bottom: 20px; margin-right: 20px; color: rgb(70, 65, 65);">
                    <div class="col-4 text-center">
                        <img class="rounded shadow" src="{{ad.photo.url}}" alt="PetAdvert" style="width: 70%;">
                    </div>
                    <div class="col-6 text-start">
                        <a href="{% url 'petad:petad_detail' ad.pk %}" class="link-warning link-underline-opacity-25" style="color: rgb(223, 126, 15);"><h1>{{ad.name}}</h1></a>
                        <p>{{ad.about|linebreaks|truncatechars:210}}</p>
                    </div>
                    <div class="col-2 d-flex align-items-center">
                        <span class="align-middle">
                            <a href="{% url 'petad:petad_detail' ad.pk %}" class="btn shadow" style="width: 100%; margin-bottom: 10px; background-color: rgb(238, 155, 60); color: white;">More info</a>
                            {% if ad.owner == request.user.profile %}
                            <a href="{% url 'petad:petad_update' ad.pk %}" class="btn shadow btn-outline-success" style="width: 100%; margin-bottom: 10px;">Edit</a>
                            <form method="POST" action="{% url 'petad:petad_delete' ad.pk %}">
                                {% csrf_token %}
                                <button type="submit" class="btn shadow btn-outline-danger" style="width: 100%; margin-bottom: 10px;">Delete</button>
                             </form>
                            {% endif %}
                        </span>
                    </div>
                </div>
              </div>
              {% endfor %}
        </div>
    </div>
</div>
{% endblock %}