{% extends 'shelter/shelter_base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load utils_shel_tags %}
{% load utils_tags %}
{% load paginate_tags %}

{% block action_name %}
    Moderators
{% endblock %}


{% block second_card %}
{% include 'shelter/search_bar.html' %}
<table class="table">
    <thead>
      <tr>
        <th scope="col" style="width: 20%;">
          <button type="button" class="btn btn-link dropdown-toggle" style="color: black;" data-bs-toggle="dropdown" aria-expanded="false">
            Ordering
          </button>
          {% get_GET_value request 'q' as q %}
          <ul class="dropdown-menu">
            <li>
                <form method="GET">
                    {% if q %}
                      <input type="hidden" id="q" name="q" value="{{q}}"/>
                    {% endif %}
                    <input type="hidden" id="ordering_type" name="ordering_type" value="num_posts" />
                    <button type='submit' class="btn btn-dark dropdown-item">#Posts+</button>
                </form>
            </li>
            <li>
                <form method="GET">
                  {% if q %}
                    <input type="hidden" id="q" name="q" value="{{q}}"/>
                  {% endif %}
                    <input type="hidden" id="ordering_type" name="ordering_type" value="-num_posts" />
                    <button type='submit' class="btn btn-dark dropdown-item">#Posts-</button>
                </form>
            </li>
            <li>
                <form method="GET">
                  {% if q %}
                    <input type="hidden" id="q" name="q" value="{{q}}"/>
                  {% endif %}
                    <input type="hidden" id="ordering_type" name="ordering_type" value="user__username" />
                    <button type='submit' class="btn btn-dark dropdown-item">Name+</button>
                </form>
            </li>
            <li>
                <form method="GET">
                  {% if q %}
                    <input type="hidden" id="q" name="q" value="{{q}}"/>
                  {% endif %}
                    <input type="hidden" id="ordering_type" name="ordering_type" value="-user__username" />
                    <button type='submit' class="btn btn-dark dropdown-item">Name-</button>
                </form>
            </li>
          </ul>
        </th>
        <th scope="col">Name</th>
        <th scope="col">Posts</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for mod in mods %}
      {% is_participated mod shelter.id as is_participated %}
      {% if is_participated %}
      <tr>
        <th scope="row">{{forloop.counter0|add:page_obj.start_index}}</th>
        <td><a href="{% url 'profile:profile' mod.slug %}" class="link-dark">{{mod.user.username}}</a></td>
        <td><a href="#" class="link-dark">{{mod.num_posts}}</a></td>
        {% is_shelter_admin shelter mod as is_admin %}
        {% if is_admin %}
        <td>It's you</td>
        {% else %}
        <td><a href="{% url 'shelter:delete_mod' shelter.id mod.id %}" class="link-danger">kick</a></td>
        {% endif %}
      </tr>
      {% endif %}
      {% endfor %}
    </tbody>
  </table>
  <div class="row mt-5">
    <div class="col-10 mx-auto text-center">
      <div class="btn-group" role="group" aria-label="Basic example">
        {% get_GET_value request 'q' as q %}
        {% get_GET_value request 'ordering_type' as ordering %}
        {% if page_obj.has_previous %}
            <a type="button" class="btn btn-outline-dark" href="{% url 'shelter:mods' shelter_slug=shelter.slug %}?page={{page_obj.previous_page_number}}{% if q %}&q={{q}}{%endif%}{% if ordering %}&ordering_type={{ordering}}{%endif%}">
                Previous Page
            </a>
        {% endif%}
        {% get_proper_elided_page_range paginator page_obj.number as page_range %}
        {% for page_number in page_range %}
            {% if page_number == page_obj.paginator.ELLIPSIS %}
                {{page_number}}
            {% else %}
                <a type="button" class="btn btn-outline-dark {% if page_obj.start_index == page_number %}active{% endif %}" href="{% url 'shelter:mods' shelter_slug=shelter.slug %}?page={{page_number}}{% if q %}&q={{q}}{%endif%}{% if ordering %}&ordering_type={{ordering}}{%endif%}">{{page_number}}</a>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <a type="button" class="btn btn-outline-dark" href="{% url 'shelter:mods' shelter_slug=shelter.slug %}?page={{page_obj.next_page_number}}{% if q %}&q={{q}}{%endif%}{% if ordering %}&ordering_type={{ordering}}{%endif%}">
                Next Page
            </a>
        {% endif%}
        </div>
    </div>
  </div>
{% endblock %}