{% extends 'shelter/shelter_base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load utils_shel_tags %}
{% load paginate_tags %}
{% load utils_tags %}

{% block action_name %}
Confirmation of posts
{% endblock %}


{% block second_card %}
{% include 'shelter/search_bar.html' %}
<table class="table">
    <thead>
      <tr>
        <th scope="col" style="width: 20%;">
          <button type="button" class="btn btn-link dropdown-toggle" style="color: black;" data-bs-toggle="dropdown" aria-expanded="false">
            Ordering
          </button>
          {% get_GET_value request 'q' as q %}
          <ul class="dropdown-menu">
            <li>
                <form method="GET">
                  {% if q %}
                    <input type="hidden" id="q" name="q" value="{{q}}"/>
                  {% endif %}
                    <input type="hidden" id="ordering_type" name="ordering_type" value="author__user__username" />
                    <button type='submit' class="btn btn-dark dropdown-item">Name+</button>
                </form>
            </li>
            <li>
                <form method="GET">
                  {% if q %}
                    <input type="hidden" id="q" name="q" value="{{q}}"/>
                  {% endif %}
                    <input type="hidden" id="ordering_type" name="ordering_type" value="-author__user__username" />
                    <button type='submit' class="btn btn-dark dropdown-item">Name-</button>
                </form>
            </li>
          </ul>
        </th>
        <th scope="col">Name</th>
        <th scope="col">Pet</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for apply in applies %}
      <tr>
        <th scope="row">{{forloop.counter0|add:page_obj.start_index}}</th>
        <td><a href="{% url 'profile:profile' apply.author.slug %}" class="link-dark">{{apply.author.user.username}}</a></td>
        <td><a type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="link-dark">{{apply.name|truncatechars:8}}</a></td>
        <td>
            <form action="{% url 'shelter:accept_post' apply.id %}" method="post" style="display: inline;">
                {% csrf_token %}
                <a type="submit" onclick="this.closest('form').submit();return false;" class="link-success">Apply</a>
            </form> /
            <form action="{% url 'shelter:deny_post' apply.id %}" onclick="this.closest('form').submit();return false;" method="post" style="display: inline;">
                {% csrf_token %}
                <a type="submit" class="link-danger">Deny</a>
            </form>
        </td>
      </tr>
       <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
         <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Applications</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <img src="{{apply.photo.url}}">
            <h3>Name:</h3> {{apply.name}}
            <h3>Color:</h3> {{apply.color}}
            <h3>Gender:</h3> {{apply.get_gender_display}}
            <h3>Type:</h3> {{apply.get_type_display}}
            <h3>Size:</h3> {{apply.get_size_display}}
            <h3>Age:</h3> {{apply.age}} years
            <h3>Health:</h3> {{apply.health}}
            <h3>Breed:</h3> {{apply.breed}}
            <h3>About:</h3> {{apply.about}}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close</button>
          </div>
         </div>
        </div>
      </div>
      {% endfor %}
    </tbody>
  </table>
  <div class="row mt-5">
    <div class="col-10 mx-auto text-center">
      <div class="btn-group" role="group" aria-label="Basic example">
        {% get_GET_value request 'q' as q %}
        {% get_GET_value request 'ordering_type' as ordering %}
        {% if page_obj.has_previous %}
            <a type="button" class="btn btn-outline-dark" href="{% url 'shelter:appls_posts' shelter_slug=shelter.slug %}?page={{page_obj.previous_page_number}}{% if q %}&q={{q}}{%endif%}{% if ordering %}&ordering_type={{ordering}}{%endif%}">
                Previous Pagex
            </a>
        {% endif%}
        {% get_proper_elided_page_range paginator page_obj.number as page_range %}
        {% for page_number in page_range %}
            {% if page_number == page_obj.paginator.ELLIPSIS %}
                {{page_number}}
            {% else %}
                <a type="button" class="btn btn-outline-dark {% if page_obj.start_index == page_number %}active{% endif %}" href="{% url 'shelter:appls_mods' shelter_slug=shelter.slug %}?page={{page_number}}{% if q %}&q={{q}}{%endif%}{% if ordering %}&ordering_type={{ordering}}{%endif%}">{{page_number}}</a>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <a type="button" class="btn btn-outline-dark" href="{% url 'shelter:appls_posts' shelter_slug=shelter.slug %}?page={{page_obj.next_page_number}}{% if q %}&q={{q}}{%endif%}{% if ordering %}&ordering_type={{ordering}}{%endif%}">
                Next Page
            </a>
        {% endif%}
        </div>
    </div>
  </div>
{% endblock %}