{% extends 'userprofile/common/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load paginate_tags %}
{% load utils_tags %}

{% block head %}
{% endblock %}

{% block content %}
    <div class="container mt-5 mb-5">
        <div class="row">
                <div class="col-3">
                    <form method="get">
                    <div class="card rounded-4 shadow border-0">
                        <div class="col-10 mt-4 mb-4 mx-auto text-center">                          

                            <label for="exampleDataList" class="form-label"><h3 style="color: orange;">City</h3></label>
                            <input class="form-control" list="datalistOptions" id="exampleDataList" name="city" placeholder="Select a city...">
                            <datalist id="datalistOptions">
                                {% for val in cities %}
                                    {% get_value_from_iterable val 0 as city %}
                                    <option value="{{city}}">
                                {% endfor %}
                            </datalist>

                            <h3 class="mt-4" style="color: orange;">Amount of adverts</h3>

                            {% get_GET_value request 'exp-min' as mine %}
                            {% get_GET_value request 'exp-max' as maxe %}

                            {% if mine %}
                            <input type="range" class="form-range progress-bar" min="0" max="10000" value="{{mine}}" id="timerange" name="exp-min">
                            <label class="form-label">Min Adverts: <span id="timetext">{{mine}}</span></label>
                            {% else %}
                            <input type="range" class="form-range progress-bar" min="0" max="10000" value="0" id="timerange" name="exp-min">
                            <label class="form-label">Min Adverts: <span id="timetext">0</span></label>
                            {% endif %}
                            
                            {% if maxe %}
                            <input type="range" class="form-range progress-bar" min="0" max="10000" value="{{maxe}}" id="timerange1" name="exp-max">
                            <label class="form-label">Max Years: <span id="timetext1">{{maxe}}</span></label>
                            {% else %}
                            <input type="range" class="form-range progress-bar" min="0" max="10000" value="0" id="timerange1" name="exp-max">
                            <label class="form-label">Max Years: <span id="timetext1">0</span></label>
                            {% endif %}
                            <button class="btn mt-4" type="submit" style="color: white; background-color: orange; width: 100%;">Find</button>
                        </div>
                    </div>
                    </form>
                </div>
            <div class="col-9">
                <nav class="navbar shadow rounded-4 navbar-expand-lg" style="margin-bottom: 20px; background-color: white;">
                    <span class="navbar-brand mb-0 h1 ms-4" style="margin-left: 10px; color: rgb(70, 65, 65);">Ads:</span>
                    <ul class="nav navbar-nav ms-auto d-flex me-4 align-items-center">
                      <li class="nav-item dropdown" style="padding: 0 10px 0 10px;">
                        <a href="{% url 'shelter:list' %}" class="btn btn-primary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                              </svg>
                            Clear Filters
                        </a>
                      </li>
                      <li class="nav-item dropdown" style="padding: 0 10px 0 10px;">

                      </li>
                      <li class="nav-item dropdown" style="padding: 0 10px 0 10px;">
                          <a class="btn btn-dark dropdown-toggle shadow" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Filter</a>
                          <ul class="dropdown-menu">
                              <li>
                                  <form method="GET">
                                    {% include 'petadvert/_get_params.html' %}
                                      <input type="hidden" id="ordering_type" name="ordering_type" value="name" />
                                      <button type='submit' class="btn btn-dark dropdown-item">Name +</button>
                                  </form>
                              </li>
                              <li>
                                  <form method="GET">
                                    {% include 'petadvert/_get_params.html' %}
                                      <input type="hidden" id="ordering_type" name="ordering_type" value="-name" />
                                      <button type='submit' class="btn btn-dark dropdown-item">Name -</button>
                                  </form>
                              </li>
                              <li>
                                <form method="GET">
                                    {% include 'petadvert/_get_params.html' %}
                                    <input type="hidden" id="ordering_type" name="ordering_type" value="-num_ads" />
                                    <button type='submit' class="btn btn-dark dropdown-item">Amount of adverts: from Max</button>
                                </form>
                                </li>
                                <li>
                                    <form method="GET">
                                        {% include 'petadvert/_get_params.html' %}
                                        <input type="hidden" id="ordering_type" name="ordering_type" value="num_ads" />
                                        <button type='submit' class="btn btn-dark dropdown-item">Amount of adverts: from Min</button>
                                    </form>
                                </li>
                            </ul>
                      </li>
                  </ul>
                </nav>
                <div class="row mt-4">
                    {% for shelter in shelters %}
                    <div class="col-3 mb-4">
                        <div class="card rounded-4 border-0 shadow text-center">
                            <div class="row mt-4 mb-2">
                                <div class="col-10 mx-auto">
                                    <h6 class="mt-2" style="color: rgb(61, 61, 61); ">{{shelter.city}}, {{shelter.num_ads}} adverts</h6>
                                </div>
                            </div>
                            <div class="card-body">
                              <a href="" class="stretched-link link-warning link-underline-opacity-0 link-underline-opacity-100-hover"><h4>{{shelter.name}}</h4></a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                    <div class="row mt-5">
                        <div class="col-10 mx-auto text-center">
                            {% if page_obj.has_previous %}
                                <a class="btn" style="background-color: rgb(238, 155, 60); color: white;" href="{% url 'shelter:list' %}?page={{page_obj.previous_page_number}}{% for param in request.GET %}{% get_GET_value request param as value %}{% if param != 'page' %}&{{param}}={{value}}{%endif%}{%endfor%}">
                                    Previous Page
                                </a>
                            {% endif%}
                            {% get_proper_elided_page_range paginator page_obj.number as page_range %}
                            {% for page_number in page_range %}
                                {% if page_number == page_obj.paginator.ELLIPSIS %}
                                    {{page_number}}
                                {% else %}
                                    <a class="btn" style="background-color: rgb(238, 155, 60); color: white;" href="{% url 'shelter:list' %}?page={{page_number}}{% for param in request.GET %}{% get_GET_value request param as value %}{% if param != 'page' %}&{{param}}={{value}}{%endif%}{%endfor%}" class="{% if page_number == page_obj.number %}current{% endif %}">{{page_number}}</a>
                                {% endif %}
                            {% endfor %}
                            {% if page_obj.has_next %}
                                <a class="btn" style="background-color: rgb(238, 155, 60); color: white;" href="{% url 'shelter:list' %}?page={{page_obj.next_page_number}}{% for param in request.GET %}{% get_GET_value request param as value %}{% if param != 'page' %}&{{param}}={{value}}{%endif%}{%endfor%}">
                                    Next Page
                                </a>
                            {% endif%}
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <script src="{% static 'userprofile/js/slider.js' %}"></script>
{% endblock %}